<div class="example-container">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button *ngIf="hayUsuario()" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Stackunderflow</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="size">
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
        <span>
          <a mat-list-item routerLink='/inicio'>
            <mat-icon>home</mat-icon> &nbsp; Inicio
          </a>
        </span>
        <span>
          <a routerLink='/mapaSistema' mat-list-item>
            <mat-icon>map</mat-icon> &nbsp; Mapa Del Sistema
          </a>
        </span>
        <span>
          <a routerLink='/matrices' mat-list-item>
            <mat-icon>view_list</mat-icon> &nbsp; Matrices O/D
          </a>
        </span>
        <span *ngIf="hayUsuario()" >
          <a routerLink='/login' (click)='logout()' mat-list-item>
            <mat-icon>power_settings_new</mat-icon> &nbsp; Cerrar Sesion
          </a>
        </span>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content (click)="sidenav.toggle(false)">
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>