<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map (mapRightClick)="crearMarcador($event)"
    [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker *ngFor="let estacion of estaciones | async"
            [title] = estacion.nombre
            [latitude]="estacion.lat" 
            [longitude]="estacion.lon" 
            iconUrl="assets/img/mountainbiking-3.png">
            <agm-info-window>
              <strong>{{ estacion.nombre | uppercase }}</strong>
              <hr>
              <p>Bicicletas: {{ estacion['bicicletas']}} <br>
                 Espacios Disponibles:
              </p>
              <span (click)="tomarBicicleta()"
                    class="badge badge-success puntero"><i class="fas fa-trash"></i>Tomar Bicicleta</span>
            </agm-info-window>
          </agm-marker>
</agm-map>